<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1>Shawn Nguru && Rudolph Sirbu</h1>

    <div>
    <fieldset>
        <img src="images/iceCream.jpg" alt="cream" width="200" height="200">
        <h3>We're Both Big fans of Ice Cream</h3>
    </fieldset>

    <fieldset>
        <img src="images/music.jpg" alt="music" width="200" height="200">
        <h3>We're Both Big fans of music (Rap and Hip-Pop)</h3>
    </fieldset>

    <fieldset>
        <img src="images/coding.webp" alt="code" width="200" height="200">
        <h3>We both enjoy coding!</h3>
    </fieldset>
    </div>

</body>
</html>